/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/04/2018, 09:30:18 PM
    Author     : Manolo
*/

.jfx-hamburger StackPane {
	-fx-background-color: #ffffff;
}


@font-face {

	src: url("/roboto/RobotoCondensed-Light.ttf");

}



.Agenda { 

	-fx-font-family: "Roboto Condensed Light"; 	

}


.Agenda .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}


.Agenda .scroll-bar:vertical .increment-button ,
.Agenda .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.Agenda  .scroll-bar .increment-arrow,
.Agenda  .scroll-bar .decrement-arrow{
    -fx-shape:" ";  
    -fx-padding:0;
}

.Agenda .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.Agenda .Week {

	-fx-background-color: WHITE;

}



.Agenda .HourLabel {

	-fx-fill: BLACK;

	-fx-stroke: transparent;

}



.Agenda .HourLine {

	-fx-fill: transparent;

	-fx-stroke: LIGHTGRAY;

}



.Agenda .HalfHourLine {

	-fx-fill: transparent;

	-fx-stroke: LIGHTGRAY;

	-fx-stroke-dash-array: 4 4 4 4;

}



.Agenda .DayHeader {

	-fx-border-color:LIGHTGRAY;

	-fx-border-width: 0px 0px 0px 1px;

}



/*

.Agenda .DayHeader .weekend { 

	-fx-text-fill: BLACK;

	-fx-font-weight: bold;

}

*/



.Agenda .Day {

	-fx-fill: transparent;

	-fx-stroke: transparent;

	-fx-border-color:LIGHTGRAY;

	-fx-border-width: 0px 0px 0px 1px;

}



.Agenda .weekend {

	-fx-background-color: #eeeeee90;

}



.Agenda .today {

}



.Agenda .Appointment {

	-fx-border-color: WHITE;

	-fx-border-width: 1px;

}



.Agenda .AppointmentTimeLabel {

	-fx-fill: WHITE;

	-fx-stroke: transparent;

	-fx-font-size: 0.8em;

}



.Agenda .AppointmentLabel {

	-fx-fill: WHITE;

	-fx-stroke: transparent;
	
	-fx-font-weight: bold;

	-fx-font-size: 1em;

}


/*
.group0 { -fx-background-color: #AC725E; -fx-fill: #AC725E; }

.group1 { -fx-background-color: #D06B64; -fx-fill: #D06B64; }

.group2 { -fx-background-color: #F83A22; -fx-fill: #F83A22; }

.group3 { -fx-background-color: #FA573C; -fx-fill: #FA573C; }

.group4 { -fx-background-color: #FF7537; -fx-fill: #FF7537; }

.group5 { -fx-background-color: #FFAD46; -fx-fill: #FFAD46; }

.group6 { -fx-background-color: #42D692; -fx-fill: #42D692; }

.group7 { -fx-background-color: #16A765; -fx-fill: #16A765; }

.group8 { -fx-background-color: #7BD148; -fx-fill: #7BD148; }

.group9 { -fx-background-color: #B3DC6C; -fx-fill: #B3DC6C; }

.group10 { -fx-background-color: #FBE983; -fx-fill: #FBE983; }

.group11 { -fx-background-color: #FAD165; -fx-fill: #FAD165; }

.group12 { -fx-background-color: #92E1C0; -fx-fill: #92E1C0; }

.group13 { -fx-background-color: #9FE1E7; -fx-fill: #9FE1E7; }

.group14 { -fx-background-color: #9FC6E7; -fx-fill: #9FC6E7; }

.group15 { -fx-background-color: #4986E7; -fx-fill: #4986E7; }

.group16 { -fx-background-color: #9A9CFF; -fx-fill: #9A9CFF; }

.group17 { -fx-background-color: #B99AFF; -fx-fill: #B99AFF; }

.group18 { -fx-background-color: #C2C2C2; -fx-fill: #C2C2C2; }

.group19 { -fx-background-color: #CABDBF; -fx-fill: #CABDBF; }

.group20 { -fx-background-color: #CCA6AC; -fx-fill: #CCA6AC; }

.group21 { -fx-background-color: #F691B2; -fx-fill: #F691B2; }

.group22 { -fx-background-color: #CD74E6; -fx-fill: #CD74E6; }

.group23 { -fx-background-color: #A47AE2; -fx-fill: #A47AE2; }
*/


/* same colors as the bar chart
*/
.group0 { -fx-background-color: #607d8b; } /*#f9d900*/

.group1 { -fx-background-color: #ea1e63;} /*#a9e200*/

.group2 { -fx-background-color: #3f51b5; } /*#22bad9*/

.group3 { -fx-background-color: #4cb050; } /*#0181e2*/

.group4 { -fx-background-color: #219788;} /*#2f357f*/

.group5 { -fx-background-color: #9c28b1; } /*#860061*/

.group6 { -fx-background-color: #ffeb3b; } /*#c62b00*/

.group7 { -fx-background-color: #ff9800; } /*#ff5700*/

.group8 { -fx-background-color: #e91e63; }

.group9 { -fx-background-color: #673ab7; }

.group10 { -fx-background-color: #2196f3; }

.group11 { -fx-background-color: #8bc34a; }

.group12 { -fx-background-color: #ffc107; }

.group12 { -fx-background-color: #ff5722; }

/*
#f44237
#ea1e63
#9c28b1
#673bb7
#3f51b5
#2196f3
#25a9f5
#2bbcd5
#cddc38
#8bc24a
#4cb050
#219788
#feeb3c
#fdc10a
#fb9700
#fa5722
#795547
#9e9e9e
#607d8b
*/

 

.Agenda .DurationDragger {

	-fx-fill: #00000040;	

}



.Agenda .MenuIcon {

	-fx-fill: #00000040;	

}



.Agenda .GhostRectangle {

	-fx-fill: transparent;

	-fx-stroke: #00000080;

    -fx-stroke-width: 1;

    -fx-stroke-dash-array: 4 4 4 4;

}


.Agenda .Now {

	-fx-fill: #ff1744; /*#3F51B5*/

	-fx-stroke: WHITE;

}

.Agenda .History {

	-fx-stroke: transparent;

	-fx-fill: #FFFFFF70;

}



.AgendaPopup {

	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;

	-fx-background-insets: 0 0 -1 0,0,1,2;

	-fx-background-radius: 5,5,4,3;

	-fx-padding: 0.766667em 0.733333em 0.75em 0.733333em;

	-fx-text-fill: -fx-text-base-color;

}



.AgendaPopup .AppointmentGroups {

}



.AgendaPopup .AppointmentGroup {

	-fx-border-color: WHITE;

	-fx-border-width: 1px;

}



/* .AgendaPopup .close-icon  {

    -fx-image: url("AgendaWeekSkinPopupCloseWindowIcon.png");

}



.AgendaPopup .delete-icon  {

    -fx-image: url("AgendaWeekSkinDeleteIcon.png");

}



.AgendaPopup .action-icon  {

    -fx-image: url("AgendaWeekSkinActionIcon.png");

} */

