<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Clase">

    <!-- Obtener TODAS las Clases en la Base de Datos -->
    <select id="getAllClases" resultType="model.pojos.Clase">
        SELECT Clase.idClase, 
        EE.idEE, 
        EE.nombre, 
        Clase.dia, 
        Clase.horaInicio, 
        Clase.horaFin, 
        Clase.salon, 
        Clase.nota FROM Clase INNER JOIN EE ON Clase.idEE = EE.idEE ORDER BY Clase.idEE;
    </select>
    
    <!-- Obtener TODAS las Clases en la Base de Datos asociadas con una EE especifica -->
    <select id="obtenerClasesAsociadas" resultType="model.pojos.Clase"
        parameterType="int">
        SELECT idClase, idEE, dia, horaInicio, horaFin, salon, nota FROM Clase
        WHERE idEE = #{idEE}
    </select>
    
    <!-- Crear registro de Clase en la Base de Datos -->
    <insert id="registrar" parameterType="model.pojos.Clase">
        INSERT INTO Clase (idEE, dia, horaInicio, horaFin, salon, nota)
        VALUES(#{idEE},#{dia},#{horaInicio},#{horaFin},#{salon},#{nota})
    </insert>
    
    <!-- Actualizar una Clase específica, a través de otra generada -->
    <update id="actualizar" parameterType="model.pojos.Clase">
        UPDATE Clase SET
        idEE = #{idEE},
        dia = #{dia},
        horaInicio = #{horaInicio},
        horaFin = #{horaFin},
        salon = #{salon},
        nota = #{nota}
        WHERE idClase = #{idClase}
    </update>

    <!-- Eliminar una Clase específica -->
    <delete id="eliminar" parameterType="int">
        DELETE FROM Clase WHERE idClase = #{idClase}
    </delete>

    <!-- Eliminar Clases asociadas con una EE específica -->
    <delete id="eliminarClases" parameterType="int">
        DELETE FROM Clase WHERE idEE = #{idEE}
    </delete>

</mapper>
