<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EE">
    <select id="obtener" resultType="model.pojos.EE">
        SELECT idEE, nombre, profesor FROM EE ORDER BY nombre
    </select>

    <select id="obtenerEE" resultType="model.pojos.EE"
        parameterType="int">
        SELECT idEE, nombre, profesor FROM EE WHERE idEE = #{idEE}
    </select>
    
    <insert id="registrar" parameterType="model.pojos.EE">
        INSERT INTO EE (nombre, profesor)
        VALUES(#{nombre},#{profesor})
    </insert>
    
    <update id="actualizar" parameterType="model.pojos.EE">
        UPDATE EE SET
        nombre = #{nombre},
        profesor = #{profesor}
        WHERE idEE = #{idEE}
    </update>

    <delete id="eliminar" parameterType="int">
        DELETE FROM EE WHERE idEE = #{idEE}
    </delete>
</mapper>
